<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre Nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre Nós</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h2>Inclusão Digital e Acessibilidade</h2>
    <p>A Inclusão Digital e Acessibilidade são pilares da cidadania na sociedade moderna, combatendo a exclusão de pessoas sem acesso ou competências para usar a tecnologia.</p>

    <p>No Brasil, esta exclusão afeta milhões, especialmente idosos, pessoas de baixa renda e pessoas com deficiência, aprofundando desigualdades sociais.</p>

    <p>A acessibilidade digital, em particular, visa remover as barreiras para usuários com deficiência, garantindo que interfaces e conteúdos sejam percebíveis, operáveis, compreensíveis e robustos.</p>

    <p>Abordar este tema é crucial para promover um ambiente digital equitativo, onde todos possam exercer seus direitos, acessar serviços essenciais e participar plenamente da economia e da vida cívica.</p>
  </div>
</ion-content>